@charset "UTF-8";

:root{
    --cor1: #a2d2ff;
    --cor2: #bde0fe;
    --cor3: #ffafcc;
    --cor4: #ffc8dd;
    --cor5: #cdb4db;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

body{
    background-color: var(--cor5);
}

header{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

header > h1{
    background-color: var(--cor3);
    border-radius: .6em .6em 0 0;
    padding: .5em 1em;
    font-size: 2.5em;
}

header > p{
    padding: .3em .8em;
    border-bottom: dashed var(--cor3) .2em;
}

#fundo{
    background-color: var(--cor3);
    margin: 0 5em;
    padding: 1.5em;
    border-radius: 2em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.obras{
    background-color: var(--cor2);
    padding: 1em;
    border-radius: 1em;

}